.ship-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 40px;
}

.ship-cont {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.remove-ship {
    position: absolute;
    height: 100%;
    left: -30px;
    font-size: 15px;
    width: 20px;
    line-height: 20px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    background: rgb(255, 122, 122);
    text-align: center;
    border-radius: 10px;
}

.remove-ship:hover {
    background: rgb(243, 105, 105);
    width: 25px;
    left: -32.5px;
    line-height: 25px;
}

.ship-add-btn {
    font-size: 5em;
    font-weight: bolder;
    color: gray
}

.ship-add-btn:hover {
    font-size: 5.5em;
}

.ship {
    width: 100%;
    height: 100%;
    border: solid black 4px;
    box-sizing: border-box;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 68px 30px 2fr 1fr 30px;
    grid-template-areas:
        "ship-name ship-name ship-name ship-name stat-block stat-block"
        "ship-type ship-type ship-type ship-type stat-block stat-block"
        "slots slots slots slots slots slots"
        "info info info info info info"
        ". . . . rp rp";
}

.ship>.ship-name {
    grid-area: ship-name;
}


.ship>.ship-type-cont {
    grid-area: ship-type;
}

.ship>.ship-stat-block {
    grid-area: stat-block;
}
.ship>.ship-rp-cont{
    grid-area: rp;
}

.ship>.ship-slot-cont{
    display:grid;
    grid-area:slots;
    width:100%;
    height:100%;
    gap:3px;
    overflow:hidden;
    padding:2px;
    grid-template-rows:repeat(fit-content, 1fr);
    grid-template-columns:repeat(3, 1fr);
}

.ship>.ship-slot-cont>div{
    width:100%;
    height:100%;
}

.ship>.ship-stat-block thead th:not(:first-child),
.ship>.ship-stat-block tbody td:not(:first-child) {
    border-left: 3px solid black;
}
.ship>.ship-stat-block tbody td{
    border-top: 3px solid black;
}

.ship>.ship-stat-block,
.ship>.ship-stat-block table {
    width: 100%;
    height: 100%;
    text-align:center;
    border-spacing:0px;
    font-size:x-large;
    
}

.ship>.ship-rp-cont{
    display:flex;
    flex-direction: row;
    font-size:x-large;
    justify-content:end;
    align-items: end;
    height:100%;
}

.ship .ship-slot{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
}
.slot-content{
    position:relative;
}
.ship .ship-slot-remove{
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left: 0;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease;
    background:repeating-linear-gradient(
        45deg,
        rgba(255, 0, 0, 0.266) 0px,
        rgba(255, 0, 0, 0.266) 20px,
        transparent 20px,
        transparent 40px
    );

    text-shadow: -4px -4px 0 #000, 4px -4px 0 #000,-4px 4px 0 #000, 4px 4px 0 #000;
    text-align:center;
}

.slot-content:hover > .ship-slot-remove{
    opacity: 1;
    pointer-events: auto;
}
.ship .slot-selector{
    height:fit-content;
    text-align: center;
    background:rgb(209, 209, 209);
    padding:5px;
    border-radius:5px;
}
.ship .slot-selector:hover{
    background:rgb(171, 171, 171);
}

.ship .slot-content{
    border:solid 2px black;
    width:100%;
    height:100%;
    font-family:'Roboto Condensed', Arial, sans-serif;
    overflow:hidden;
}

.ship .slot-content .slot-name{
    font-weight: bolder;
    margin-left:10px;
}

.ship .slot-content .slot-stat{
    float:right;
    font-size:x-large;
}

.ship .slot-content .slot-ability{
    margin:3px;
}

