.ship-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 40px;
}

.ship-cont {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.remove-ship {
    position: absolute;
    height: 100%;
    left: -30px;
    font-size: 15px;
    width: 20px;
    line-height: 20px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    background: rgb(255, 122, 122);
    text-align: center;
    border-radius: 10px;
}

.remove-ship:hover {
    background: rgb(243, 105, 105);
    width: 25px;
    left: -32.5px;
    line-height: 25px;
}

.ship-add-btn {
    font-size: 5em;
    font-weight: bolder;
    color: gray
}

.ship-add-btn:hover {
    font-size: 5.5em;
}

.ship {
    width: 100%;
    height: 100%;
    border: solid black 4px;
    box-sizing: border-box;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 13% 6% 2fr 1fr 30px;
    grid-template-areas:
        "ship-name ship-name ship-name ship-name stat-block stat-block"
        "ship-type ship-type ship-type ship-type stat-block stat-block"
        "slots slots slots slots slots slots"
        "info info info info info info"
        ". . . . rp rp";
}

.ship>.ship-name {
    grid-area: ship-name;
}


.ship>.ship-type-cont {
    grid-area: ship-type;
}

.ship>.ship-stat-block {
    grid-area: stat-block;
}
.ship>.ship-rp-cont{
    grid-area: rp;
}

.ship > .ship-slot-cont > :nth-child(1) { grid-area: slot-1; }
.ship > .ship-slot-cont > :nth-child(2) { grid-area: slot-2; }
.ship > .ship-slot-cont > :nth-child(3) { grid-area: slot-3; }
.ship > .ship-slot-cont > :nth-child(4) { grid-area: slot-4; }
.ship > .ship-slot-cont > :nth-child(5) { grid-area: slot-5; }
.ship > .ship-slot-cont > :nth-child(6) { grid-area: slot-6; }
.ship > .ship-slot-cont > :nth-child(7) { grid-area: slot-7; }
.ship > .ship-slot-cont > :nth-child(8) { grid-area: slot-8; }
.ship > .ship-slot-cont > :nth-child(9) { grid-area: slot-9; }
.ship > .ship-slot-cont > :nth-child(n+10) { display:none; }

.ship>.ship-slot-cont{
    display:grid;
    grid-area:slots;
    width:100%;
    height:100%;
    gap:3px;
    grid-template-rows:0px repeat(3, 1fr);
    grid-template-columns:repeat(3, 1fr);
    grid-template-areas: 
        ". . . "
        "slot-1 slot-2 slot-3"
        "slot-4 slot-5 slot-6"
        "slot-7 slot-8 slot-9";
}

.ship>.ship-slot-cont>div{
    width:100%;
    height:100%;
}

.ship>.ship-stat-block thead th:not(:first-child),
.ship>.ship-stat-block tbody td:not(:first-child) {
    border-left: 3px solid black;
}
.ship>.ship-stat-block tbody td{
    border-top: 3px solid black;
}

.ship>.ship-stat-block,
.ship>.ship-stat-block table {
    width: 100%;
    height: 100%;
    text-align:center;
    border-spacing:0px;
    font-size:x-large;
    
}

.ship>.ship-rp-cont{
    display:flex;
    flex-direction: row;
    font-size:x-large;
    justify-content:end;
    align-items: end;
    height:100%;
}
.ship-slot{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.ship .slot-selector{
    height:fit-content;
    text-align: center;
    background:rgb(209, 209, 209);
    padding:5px;
    border-radius:5px;
}
.ship .slot-selector:hover{
    background:rgb(171, 171, 171);
}