.ship-page{
    display:flex;
    flex-direction: column;
    height:100%;
    row-gap:40px;
}

.ship-cont{
    flex:1;
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.ship-add-btn{
    font-size:5em;
    font-weight:bolder;
    color:gray
}

.ship-add-btn:hover{
    font-size:5.5em;
}
.ship{
    width:100%;
    height:100%;
    border:solid black 4px;
    box-sizing: border-box;
}