<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Tiny Conflict - View Fleet</title>

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <a class="navbar-brand fs-3 fw-bold" href="/home/">Home</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-3">
          <li class="nav-item">
          <a class="nav-link text-white px-3 py-2"
             href="/new/"
             style="background-color: #198754; border-radius: 8px;">
            New Fleet
          </a>
        </li>

          <li class="nav-item">
            <a class="nav-link" href="/list/">Fleets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/draft/">Draft</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>


  <main class="container mt-4">
    <h1 id="fleet-name" class="mb-4">...</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A ex id nobis voluptates maiores ad consequatur enim deleniti aliquam officia, quis doloribus laboriosam obcaecati excepturi, quia asperiores exercitationem suscipit dolor!
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="btn-group-vertical w-100" role="group">
        <button id="exit-btn" type="button" class="btn btn-danger">Exit Without Saving</button>
        <button id="save-btn" type="button" class="btn btn-success">Save</button>
        <button id="save-exit-btn" type="button" class="btn btn-primary">Save and Exit</button>
    </div>
</main>

  </main>

  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./load.js"></script>
  <script src="./save_exit_btns.js"></script>
</body>

</html>